{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  th{
    background-color: #72d372;
  }
  th, td {
      text-align: left;
      padding: 8px;
      
  }
  tr:nth-child(even){background-color: #f5f5f5}
  </style>
  <h1>
    This is the Index Page! School units are listed below.
  </h1>
 
    <table class="styled-table">
      <thead>
          <tr>
              <th>School Name</th>
          </tr>
      </thead>
      <tbody>
        {% for school,id in signed_schools %}
          <tr class="active-row">
              <td>  <a href="{{'/lib%s'%id}}" title="redirect to your school section">{{ school }}</a> </td>
             {% endfor %}
      </tbody>
  </table>
  
{% endblock %}
