{% extends "base.html" %}

{% block title %} Manager Members {% endblock %}

{% block content %}

<!-- MEMBER SIGN UP -->
<form method="POST">
  <h3 align="center"> Member Sign Up for library {{id}} </h3>
  
  <div class="form-group">
    <label for="name"> Full Name </label>
    <input
    type="text"
    class="form-control"
    id="name"
    name="name"
    placeholder="Enter Full Name"
    />
  </div>

  <div class="form-group">
    <label for="birth_date"> Birth date </label>
    <input
    type="date"
    class="form-control"
    id="birth_date"
    name="birth_date"
    placeholder="Enter Birth Date"
    />
  </div>

  <div class="form-group">
    <label for="username"> Username </label>
    <input
    type="text"
    class="form-control"
    id="username"
    name="username"
    placeholder="Enter Username"
    />
  </div>

  <div class="form-group">
    <label for="password"> Password </label>
    <input
    type="password"
    class="form-control"
    id="password"
    name="password"
    placeholder="Enter Password"
    />
  </div>

  <div class="form-group">
    <label for="password2"> Password (validation) </label>
    <input
    type="password"
    class="form-control"
    id="password2"
    name="password2"
    placeholder="Enter Password (again)"
    />
  </div>

  <div class="form-group">
    <label for="role"> Role </label>
    <select class="form-control" id="role" name="role">
      <option value="member-student"> Member (student) </option>
      <option value="member-teacher"> Member (teacher) </option>
    </select>
  </div>

  <br />
  
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>


<!-- INACTIVE MEMBERS -->
<ul class="list-group list-group-flush" id="manager_inactive_members">
  <h3 align="center">Inactive Members</h3>
  {% for member in inactive_members %}
  <li class="list-group-item">
    {{member.username}} ({{member.role}})
    <button type="button" class="close" onclick="deleteUser({{member.id}})">
      <span aria-hidden="true">delete</span>
    </button>
    <button type="button" class="close" onclick="switchActivation({{member.id}})">
      <span aria-hidden="true">activate&nbsp&nbsp</span>
    </button>
  </li>
  {% endfor %}
</ul>

<!-- ACTIVE MEMBERS -->
<ul class="list-group list-group-flush" id="manager_active_members">
  <h3 align="center">Active Members</h3>
  {% for member in active_members %}
  <li class="list-group-item">
    {{member.username}} ({{member.role}})
    <button type="button" class="close" onclick="deleteUser({{member.id}})">
      <span aria-hidden="true">delete</span>
    </button>
    <button type="button" class="close" onclick="switchActivation({{member.id}})">
      <span aria-hidden="true">deactivate&nbsp&nbsp</span>
    </button>
    <button type="button" class="close" onclick="location.href='/lib{{id}}/manager/members/card{{member.id}}';">
      <span aria-hidden="true">card&nbsp&nbsp</span>
    </button>
  </li>
  {% endfor %}
</ul>

<script type="text/javascript">
  function switchActivation(member_id) {
      fetch("/lib{{id}}/manager/members/switch_activation", {
          method: "POST",
          body: JSON.stringify({ member_id: member_id }),
      }).then((_res) => {
          window.location.href = "/lib{{id}}/manager/members";
      });
  }
  
  function deleteUser(member_id) {
      fetch("/lib{{id}}/manager/members/delete_user", {
          method: "POST",
          body: JSON.stringify({ member_id: member_id }),
      }).then((_res) => {
          window.location.href = "/lib{{id}}/manager/members";
      });
  }
</script>

{% endblock %}
