{% extends "base.html" %}

{% block title %} Manager Reviews {% endblock %}

{% block content %}
<br></br>

<form action={{ url_for('manager_views.average_rating', id=id) }} method="POST">
  <h3 align="center"> Compute Average Rating </h3>

  <div class="form-group">
    <label for="review_user"> User Name </label>
    <input
    type="text"
    class="form-control"
    id="review_user"
    name="review_user"
    value="#all"
    />
  </div>

  <div class="form-group">
    <label for="review_category"> Specify Category </label>
    <select class="form-control" id="review_category" name="review_category">
      <option value="#all"> #all </option>
      {% for category in categories %}
      <option value="{{category}}"> {{category}} </option>
      {% endfor %}
    </select>
  </div>

  <br />
  
  <button type="submit" class="btn btn-primary"> Compute </button>
  
</form>

<!-- INACTIVE REVIEWS -->
<ul class="list-group list-group-flush" id="manager_inactive_reviews">
  <h3 align="center">Inactive Reviews</h3>
  {% for review in inactive_reviews %}
  <li class="list-group-item">
    <h5> Review for {{review.title}} ({{review.isbn}}) by {{review.username}} ({{review.user_id}}) </h5>
    <form method="POST">
      <label for="stars">Number of stars:</label>
      <select id="stars" name="stars" disabled>
        <option value="default"> {{review.stars}} stars</option>
      </select>
      <br><br>
      <label for="reviewText">Review:</label>
      <textarea id="reviewText" name="reviewText" rows="4" cols="50" readonly>
        {{review.opinion}}
      </textarea>
    </form>
    <button type="button" class="close" onclick="switchActivation({{review.id}})">
      <span aria-hidden="true">activate</span>
    </button>
    <button type="button" class="close" onclick="deleteReview({{review.id}})">
      <span aria-hidden="true">delete&nbsp&nbsp</span>
    </button>
  </li>
  {% endfor %}
</ul>

<br></br>

<!-- ACTIVE REVIEWS -->
<ul class="list-group list-group-flush" id="manager_active_reviews">
  <h3 align="center">Active Reviews</h3>
  {% for review in active_reviews %}
  <li class="list-group-item">
    <h5> Review for {{review.title}} ({{review.isbn}}) by {{review.username}} ({{review.user_id}}) </h5>
    <form method="POST">
      <label for="stars">Number of stars:</label>
      <select id="stars" name="stars" disabled>
        <option value="default"> {{review.stars}} stars</option>
      </select>
      <br><br>
      <label for="reviewText">Review:</label>
      <textarea id="reviewText" name="reviewText" rows="4" cols="50" readonly>
        {{review.opinion}}
      </textarea>
    </form>
    <button type="button" class="close" onclick="switchActivation({{review.id}})">
      <span aria-hidden="true">deactivate</span>
    </button>
    <button type="button" class="close" onclick="deleteReview({{review.id}})">
      <span aria-hidden="true">delete&nbsp&nbsp</span>
    </button>
  </li>
  {% endfor %}
</ul>

<script type="text/javascript">
  function switchActivation(review_id) {
      fetch("/lib{{id}}/manager/reviews/switch_activation", {
          method: "POST",
          body: JSON.stringify({ review_id: review_id }),
      }).then((_res) => {
          window.location.href = "/lib{{id}}/manager/reviews";
      });
  }
  
  function deleteReview(review_id) {
      fetch("/lib{{id}}/manager/reviews/delete_review", {
          method: "POST",
          body: JSON.stringify({ review_id: review_id }),
      }).then((_res) => {
          window.location.href = "/lib{{id}}/manager/reviews";
      });
  }
</script>
  
{% endblock %}
