{% extends "base.html" %}

{% block title %} Member Settings {% endblock %}

{% block content %}
<form action={{ url_for('member_views.change_info', id=id) }} method="POST">
  <h3 align="center"> User Info </h3>

  {% if user.role == 'member-student' %}
  <div class="form-group">
    <label for="name"> Full Name </label>
    <input
    type="text"
    class="form-control"
    id="name"
    name="name"
    value="{{user.name}}"
    readonly
    />
  </div>

  <div class="form-group">
    <label for="birth_date"> Birth Date </label>
    <input
    type="date"
    class="form-control"
    id="birth_date"
    name="birth_date"
    value="{{user.birth_date}}"
    readonly
    />
  </div>

  <br />
  
  <button type="submit" class="btn btn-primary" disabled>Change Info</button>
  {% elif user.role == 'member-teacher' %}
  <div class="form-group">
    <label for="name"> Full Name </label>
    <input
    type="text"
    class="form-control"
    id="name"
    name="name"
    value="{{user.name}}"
    />
  </div>

  <div class="form-group">
    <label for="birth_date"> Birth Date </label>
    <input
    type="date"
    class="form-control"
    id="birth_date"
    name="birth_date"
    value="{{user.birth_date}}"
    />
  </div>

  <br />
  
  <button type="submit" class="btn btn-primary">Change Info</button>
  {% endif %}
  
</form>

<form action={{ url_for('member_views.change_password', id=id) }} method="POST">
  <h3 align="center"> Change Password </h3>

  <div class="form-group">
    <label for="cur_password"> Current password </label>
    <input
    type="password"
    class="form-control"
    id="cur_password"
    name="cur_password"
    placeholder="Enter Current Password"
    />
  </div>

  <div class="form-group">
    <label for="new_password"> New Password </label>
    <input
    type="password"
    class="form-control"
    id="new_password"
    name="new_password"
    placeholder="Enter New Password"
    />
  </div>

  <div class="form-group">
    <label for="rep_password"> New Password (validation) </label>
    <input
    type="password"
    class="form-control"
    id="rep_password"
    name="rep_password"
    placeholder="Enter New Password (again)"
    />
  </div>

  <br />
  
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}
